@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #462255;
  --color-primary-light: #602f75;
  --color-secondary: #aa4465;
  --color-tertiary: #ffa69e;
  --color-quaternary: #30b0a1;
  --color-quaternary-dark: #279084;
  --color-quaternary-light: #8fe0d7;
  --color-quinary: #93e1d8;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-titillium-web);
  --font-mono: var(--font-titillium-web);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-titillium-web);
}

@layer utilities {
  .animate-slide-in-left {
    animation: slideInLeft 0.4s ease-in-out both;
  }

  .animate-slide-in-right {
    animation: slideInRight 0.4s ease-in-out both;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
